<div>
    <input type="text" class="form-control" placeholder="Username" #username>
    <input type="password" class="form-control" placeholder="Password" #password>
    <button type="button" class="btn btn-primary" (click)="login(username.value, password.value)">Login</button>
  
    <p>{{ loginOutput }}</p> 
  </div>

  <div>
    <input type="text" class="form-control" placeholder="Test" [(ngModel)]="input" value={{input}} > <p>
      {{input | uppercase}}
    </p>

    {{"Hello i want to see if it works or not" | uppercase}}
  </div>
  