<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Employee</title>
</head>
<body>
    <form th:action="@{/create-employee}" method="post" th:object="${employee}">
        <label for="name">Name: </label>
        <input id="name" th:field="*{name}">
        <br>

        <label for="department">Department: </label>
        <input  id="department" th:field="*{department}">
        <br>

        <label for="age">Age: </label>
        <input id="age" th:field="*{age}">
        <br>

        <input type="submit" value="Create">
    </form>
</body>
</html>
