.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  div {
    margin-bottom: 16px;
    width: 100%;
  }
  
  label {
    font-size: 14px;
    color: #555;
  }
  
  input {
    width: 100%;
    max-width: 250px;
    padding: 8px;
    margin-top: 4px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .custom-button {
    background: linear-gradient(90deg, rgba(72, 187, 255, 1) 0%, rgba(0, 121, 191, 1) 100%) !important;
    border: none !important;
    color: white !important;
    padding: 10px 20px !important;
    border-radius: 25px !important;
    transition: background-color 0.3s, box-shadow 0.3s;
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
  }
  
  .custom-button:hover {
    background: linear-gradient(90deg, rgba(0, 121, 191, 1) 0%, rgba(72, 187, 255, 1) 100%) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  .custom-button:active {
    background: linear-gradient(90deg, rgba(72, 187, 255, 1) 0%, rgba(0, 121, 191, 1) 100%) !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
  }

  